body {
  background-color: #F7F6F2;
  margin: 0;
  text-align: center;
  font-family: 'Azeret Mono', monospace;
}

.top-container {
  padding: 100px 0;
}

h1 {
  color: #4B6587;
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.middle-container {
  width: 80%;
  margin: 0 auto;
}

.cv-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
}

h2 {
  color: #4B6587;
  font-size: 2rem;
  margin-top: 50px;
}

p {
  font-size: 1rem;
}

hr {
  color: #C8C6C6;
  margin-top: 50px;
  border-style: dashed none none none;
  border-width: 5px;
  width: 40%;
}

h3 {
  font-size: 1rem;
}

.skills {
  width: 80%;
  margin: 0 auto;
}

.skill-row {
  margin-top: 50px;
  text-align: left;
  overflow: hidden;
}

.skill-image {
  width: 150px;
  float: left;
  margin-right: 30px;
}

.btn {
  margin-top: 25px;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px;
  background-color: #3D94F6;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #0a6cdb;
}

.btn:focus {
  background-color: #0854aa;
}

.bottom-container {
  margin-top: 50px;
  padding: 25px 0 10px;
  background-color: #F0E5CF;
}
